*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 65px;
    height: 82vh;
    background-color: #499efe;
}
.fondo-login{
    background-color: #e15795;
}
.form_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.form_titulo{
    font-size: 42px;
    color: #fff;
}
.form-input-contenedor{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.form-input{
    padding: 12px 32px;
    border-radius: 20px;
    border: none;
    color: #d43f82;
    outline: none;
}
.error input{
    border: 2px solid #de2d3f ;
}
.aceptado input{
    border: solid 2px rgb(4, 204, 4);
}
small{
    color: #fff;
    text-align: center;
    font-size: 16px;
    width: 300px;
}
.form-boton{
    padding: 8px 10px;
    background-color: #499efe;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 20px;
    font-weight: 600;
}
.login-boton{
    background-color:#e15795;
}
.login{
    color: #4596f3;
}
.redireccion{
    margin-top: 15px;
    color: #fff;
}
.redireccion__link{
    color: #fff;
    font-weight: 600;
}
.mensaje{
    display: none;
}
